<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="DbSoft.Cache.Aspect" version="2.1.0.9" targetFramework="net452" />
  <package id="DbSoft.Cache.Aspect.Core" version="2.1.0.9" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net451" />
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.0.1" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.0.0" targetFramework="net451" />
  <package id="PostSharp" version="4.1.31" targetFramework="net451" />
  <package id="System.Collections" version="4.0.11" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package id="System.IO" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq" version="4.1.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.11" targetFramework="net452" />
</packages>